.trainee-head{
    margin-top: 15px;
    text-align: center;
    color: #000;
}
.Main-trainee{
    margin:10px;
    color: rgb(163, 170, 175);
    text-align: center;
   
}
.Main-trainee-flex{
    display: flex;
    justify-content: space-evenly;
   
   
}
.Trainee-Card:hover{
    box-shadow:0 3px 42px rgb(0 0 0 / 10%);
}
.Trainee-Card{
   
    width :250px;
    align-items: center;
    border:  3px black;
    background-color: white;
    cursor: pointer;
}
.Trainee-Card h4{
    color: #000;
}
.display-img{
    
  height: 300px;
}